html body {
  background-color: #f5f5fa;
}
body.diyBgActive .diyw .diyweb {
  background-image: none !important;
  background-color: transparent !important;
}
.diyw .diyweb {
  background-color: transparent !important;
}
.diyw .diyweb,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0,
.diyw .diyfeCA .diyfeCA .diyfeCA0,
.diyw .diyfeCA .diyfeCA0,
.diyw .diyfeCA0 {
  background-color: #f5f5fa;
  color: #33334d;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyweb h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA0 h1 {
  color: #33334d;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyweb h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA0 h2 {
  color: #33334d;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyweb p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA0 p {
  color: #33334d;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyweb a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA0 a {
  color: #33334d;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyweb .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA0 .diyfeLinkAsButton {
  background: #33334d;
  color: #ebebed;
  border: solid 1px #33334d;
}
.diyw .diyweb .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA0 .mainNav1 a {
  color: #33334d;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyweb .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA0 .mainNav2 a {
  color: #33334d;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyweb .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA0 .hr {
  border-color: #9999cc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyweb .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .h1,
.diyw .diyfeCA .diyfeCA0 .h1,
.diyw .diyfeCA0 .h1 {
  color: #33334d;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1,
.diyw .diyfeCA .diyfeCA .diyfeCA1,
.diyw .diyfeCA .diyfeCA1,
.diyw .diyfeCA1 {
  background-color: #ffffff;
  color: #757575;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA1 h1 {
  color: #f28505;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 32px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA1 .h1-align {
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA1 h2 {
  color: #474747;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA1 .h2-align {
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA1 p {
  color: #757575;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA1 a {
  color: #f28505;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA1 .diyfeLinkAsButton {
  background: #f28505;
  color: #fef3e6;
  border: solid 1px #f28505;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA1 .mainNav1 a {
  color: #474747;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA1 .mainNav2 a {
  color: #474747;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA1 .hr {
  border-color: #bababa;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .h1,
.diyw .diyfeCA .diyfeCA1 .h1,
.diyw .diyfeCA1 .h1 {
  color: #f28505;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 32px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2,
.diyw .diyfeCA .diyfeCA .diyfeCA2,
.diyw .diyfeCA .diyfeCA2,
.diyw .diyfeCA2 {
  background-color: #f28505;
  color: #fef3e6;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA2 h1 {
  color: #fef3e6;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA2 h2 {
  color: #fef3e6;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA2 p {
  color: #fef3e6;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA2 a {
  color: #fef3e6;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA2 .diyfeLinkAsButton {
  background: #fef3e6;
  color: #2f2418;
  border: solid 1px #fef3e6;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA2 .mainNav1 a {
  color: #fddfbb;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA2 .mainNav2 a {
  color: #fef3e6;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA2 .hr {
  border-color: #fcc585;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .h1,
.diyw .diyfeCA .diyfeCA2 .h1,
.diyw .diyfeCA2 .h1 {
  color: #fef3e6;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3,
.diyw .diyfeCA .diyfeCA .diyfeCA3,
.diyw .diyfeCA .diyfeCA3,
.diyw .diyfeCA3 {
  background-color: #ffffff;
  color: #757575;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA3 h1 {
  color: #f28505;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 28px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA3 h2 {
  color: #f28505;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA3 p {
  color: #757575;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA3 a {
  color: #f28505;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA3 .diyfeLinkAsButton {
  background: #f28505;
  color: #fef3e6;
  border: solid 1px #f28505;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA3 .mainNav1 a {
  color: #474747;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA3 .mainNav2 a {
  color: #8c8c8c;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA3 .hr {
  border-color: #bababa;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .h1,
.diyw .diyfeCA .diyfeCA3 .h1,
.diyw .diyfeCA3 .h1 {
  color: #f28505;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 28px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4,
.diyw .diyfeCA .diyfeCA .diyfeCA4,
.diyw .diyfeCA .diyfeCA4,
.diyw .diyfeCA4 {
  background-color: #ffffff;
  color: #474747;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA4 h1 {
  color: #474747;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA4 h2 {
  color: #474747;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA4 p {
  color: #474747;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA4 a {
  color: #474747;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA4 .diyfeLinkAsButton {
  background: #474747;
  color: #ededed;
  border: solid 1px #474747;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA4 .mainNav1 a {
  color: #474747;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA4 .mainNav2 a {
  color: #474747;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA4 .hr {
  border-color: #bababa;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .h1,
.diyw .diyfeCA .diyfeCA4 .h1,
.diyw .diyfeCA4 .h1 {
  color: #474747;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyweb div#contentfooter {
  font-size: inherit;
  font-weight: inherit;
}
.diyw #website-logo a {
  text-decoration: none !important;
}
.diyw .diyfeCA0 #website-logo p.website-logo-text,
.diyw .diyfeCA0 #website-logo p.website-logo-text a {
  color: #33334d !important;
  font-family: Georgia, serif;
}
.diyw .diyfeCA1 #website-logo p.website-logo-text,
.diyw .diyfeCA1 #website-logo p.website-logo-text a {
  color: #757575 !important;
  font-family: Georgia, serif;
}
.diyw .diyfeCA2 #website-logo p.website-logo-text,
.diyw .diyfeCA2 #website-logo p.website-logo-text a {
  color: #fddfbb !important;
  font-family: Georgia, serif;
}
.diyw .diyfeCA3 #website-logo p.website-logo-text,
.diyw .diyfeCA3 #website-logo p.website-logo-text a {
  color: #757575 !important;
  font-family: Georgia, serif;
}
.diyw .diyfeCA4 #website-logo p.website-logo-text,
.diyw .diyfeCA4 #website-logo p.website-logo-text a {
  color: #474747 !important;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
}
.diyw .diyfeLinkAsButton {
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none !important;
}
.diyw .diyfeLinkAsButton:hover {
  box-shadow: 0 0 0 2px inset;
}
.diyw .imageSubtitle {
  min-width: 30px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0,
.diyw .diyfeArea .diyfeArea .diyfeColor0,
.diyw .diyfeArea .diyfeColor0,
.diyw .diyfeColor0 {
  background-color: #f5f5fa;
  color: #33334d;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor0 h1,
.diyw .diyfeArea .diyfeColor0 h1,
.diyw .diyfeColor0 h1 {
  color: #33334d;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor0 h2,
.diyw .diyfeArea .diyfeColor0 h2,
.diyw .diyfeColor0 h2 {
  color: #33334d;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 p,
.diyw .diyfeArea .diyfeArea .diyfeColor0 p,
.diyw .diyfeArea .diyfeColor0 p,
.diyw .diyfeColor0 p {
  color: #33334d;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 a,
.diyw .diyfeArea .diyfeArea .diyfeColor0 a,
.diyw .diyfeArea .diyfeColor0 a,
.diyw .diyfeColor0 a {
  color: #33334d;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeColor0 .diyfeLinkAsButton {
  background: #33334d;
  color: #ebebed;
  border: solid 1px #33334d;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeColor0 .mainNav1 a {
  color: #33334d;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeColor0 .mainNav2 a {
  color: #33334d;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeColor0 .hr {
  border-color: #9999cc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1,
.diyw .diyfeArea .diyfeArea .diyfeColor1,
.diyw .diyfeArea .diyfeColor1,
.diyw .diyfeColor1 {
  background-color: #ffffff;
  color: #757575;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor1 h1,
.diyw .diyfeArea .diyfeColor1 h1,
.diyw .diyfeColor1 h1 {
  color: #f28505;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor1 h2,
.diyw .diyfeArea .diyfeColor1 h2,
.diyw .diyfeColor1 h2 {
  color: #474747;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 p,
.diyw .diyfeArea .diyfeArea .diyfeColor1 p,
.diyw .diyfeArea .diyfeColor1 p,
.diyw .diyfeColor1 p {
  color: #757575;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor1 a,
.diyw .diyfeArea .diyfeColor1 a,
.diyw .diyfeColor1 a {
  color: #f28505;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeColor1 .diyfeLinkAsButton {
  background: #f28505;
  color: #fef3e6;
  border: solid 1px #f28505;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeColor1 .mainNav1 a {
  color: #474747;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeColor1 .mainNav2 a {
  color: #474747;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeColor1 .hr {
  border-color: #bababa;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2,
.diyw .diyfeArea .diyfeArea .diyfeColor2,
.diyw .diyfeArea .diyfeColor2,
.diyw .diyfeColor2 {
  background-color: #f28505;
  color: #fef3e6;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor2 h1,
.diyw .diyfeArea .diyfeColor2 h1,
.diyw .diyfeColor2 h1 {
  color: #fef3e6;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor2 h2,
.diyw .diyfeArea .diyfeColor2 h2,
.diyw .diyfeColor2 h2 {
  color: #fef3e6;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 p,
.diyw .diyfeArea .diyfeArea .diyfeColor2 p,
.diyw .diyfeArea .diyfeColor2 p,
.diyw .diyfeColor2 p {
  color: #fef3e6;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor2 a,
.diyw .diyfeArea .diyfeColor2 a,
.diyw .diyfeColor2 a {
  color: #fef3e6;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeColor2 .diyfeLinkAsButton {
  background: #fef3e6;
  color: #2f2418;
  border: solid 1px #fef3e6;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeColor2 .mainNav1 a {
  color: #fddfbb;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeColor2 .mainNav2 a {
  color: #fef3e6;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeColor2 .hr {
  border-color: #fcc585;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3,
.diyw .diyfeArea .diyfeArea .diyfeColor3,
.diyw .diyfeArea .diyfeColor3,
.diyw .diyfeColor3 {
  background-color: #ffffff;
  color: #757575;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor3 h1,
.diyw .diyfeArea .diyfeColor3 h1,
.diyw .diyfeColor3 h1 {
  color: #f28505;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor3 h2,
.diyw .diyfeArea .diyfeColor3 h2,
.diyw .diyfeColor3 h2 {
  color: #f28505;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 p,
.diyw .diyfeArea .diyfeArea .diyfeColor3 p,
.diyw .diyfeArea .diyfeColor3 p,
.diyw .diyfeColor3 p {
  color: #757575;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 a,
.diyw .diyfeArea .diyfeArea .diyfeColor3 a,
.diyw .diyfeArea .diyfeColor3 a,
.diyw .diyfeColor3 a {
  color: #f28505;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeColor3 .diyfeLinkAsButton {
  background: #f28505;
  color: #fef3e6;
  border: solid 1px #f28505;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeColor3 .mainNav1 a {
  color: #474747;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeColor3 .mainNav2 a {
  color: #8c8c8c;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeColor3 .hr {
  border-color: #bababa;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4,
.diyw .diyfeArea .diyfeArea .diyfeColor4,
.diyw .diyfeArea .diyfeColor4,
.diyw .diyfeColor4 {
  background-color: #ffffff;
  color: #474747;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor4 h1,
.diyw .diyfeArea .diyfeColor4 h1,
.diyw .diyfeColor4 h1 {
  color: #474747;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor4 h2,
.diyw .diyfeArea .diyfeColor4 h2,
.diyw .diyfeColor4 h2 {
  color: #474747;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 p,
.diyw .diyfeArea .diyfeArea .diyfeColor4 p,
.diyw .diyfeArea .diyfeColor4 p,
.diyw .diyfeColor4 p {
  color: #474747;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 a,
.diyw .diyfeArea .diyfeArea .diyfeColor4 a,
.diyw .diyfeArea .diyfeColor4 a,
.diyw .diyfeColor4 a {
  color: #474747;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeColor4 .diyfeLinkAsButton {
  background: #474747;
  color: #ededed;
  border: solid 1px #474747;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeColor4 .mainNav1 a {
  color: #474747;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeColor4 .mainNav2 a {
  color: #474747;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeColor4 .hr {
  border-color: #bababa;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0,
.diyw .diyfeArea .diyfeArea .diyfeFont0,
.diyw .diyfeArea .diyfeFont0,
.diyw .diyfeFont0 {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont0 h1,
.diyw .diyfeArea .diyfeFont0 h1,
.diyw .diyfeFont0 h1 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont0 h2,
.diyw .diyfeArea .diyfeFont0 h2,
.diyw .diyfeFont0 h2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 p,
.diyw .diyfeArea .diyfeArea .diyfeFont0 p,
.diyw .diyfeArea .diyfeFont0 p,
.diyw .diyfeFont0 p {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 a,
.diyw .diyfeArea .diyfeArea .diyfeFont0 a,
.diyw .diyfeArea .diyfeFont0 a,
.diyw .diyfeFont0 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeFont0 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeFont0 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1,
.diyw .diyfeArea .diyfeArea .diyfeFont1,
.diyw .diyfeArea .diyfeFont1,
.diyw .diyfeFont1 {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont1 h1,
.diyw .diyfeArea .diyfeFont1 h1,
.diyw .diyfeFont1 h1 {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 32px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont1 h2,
.diyw .diyfeArea .diyfeFont1 h2,
.diyw .diyfeFont1 h2 {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 p,
.diyw .diyfeArea .diyfeArea .diyfeFont1 p,
.diyw .diyfeArea .diyfeFont1 p,
.diyw .diyfeFont1 p {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont1 a,
.diyw .diyfeArea .diyfeFont1 a,
.diyw .diyfeFont1 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeFont1 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeFont1 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2,
.diyw .diyfeArea .diyfeArea .diyfeFont2,
.diyw .diyfeArea .diyfeFont2,
.diyw .diyfeFont2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont2 h1,
.diyw .diyfeArea .diyfeFont2 h1,
.diyw .diyfeFont2 h1 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont2 h2,
.diyw .diyfeArea .diyfeFont2 h2,
.diyw .diyfeFont2 h2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 p,
.diyw .diyfeArea .diyfeArea .diyfeFont2 p,
.diyw .diyfeArea .diyfeFont2 p,
.diyw .diyfeFont2 p {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont2 a,
.diyw .diyfeArea .diyfeFont2 a,
.diyw .diyfeFont2 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeFont2 .mainNav1 a {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeFont2 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3,
.diyw .diyfeArea .diyfeArea .diyfeFont3,
.diyw .diyfeArea .diyfeFont3,
.diyw .diyfeFont3 {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont3 h1,
.diyw .diyfeArea .diyfeFont3 h1,
.diyw .diyfeFont3 h1 {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 28px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont3 h2,
.diyw .diyfeArea .diyfeFont3 h2,
.diyw .diyfeFont3 h2 {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 p,
.diyw .diyfeArea .diyfeArea .diyfeFont3 p,
.diyw .diyfeArea .diyfeFont3 p,
.diyw .diyfeFont3 p {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 a,
.diyw .diyfeArea .diyfeArea .diyfeFont3 a,
.diyw .diyfeArea .diyfeFont3 a,
.diyw .diyfeFont3 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeFont3 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeFont3 .mainNav2 a {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4,
.diyw .diyfeArea .diyfeArea .diyfeFont4,
.diyw .diyfeArea .diyfeFont4,
.diyw .diyfeFont4 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont4 h1,
.diyw .diyfeArea .diyfeFont4 h1,
.diyw .diyfeFont4 h1 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont4 h2,
.diyw .diyfeArea .diyfeFont4 h2,
.diyw .diyfeFont4 h2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 p,
.diyw .diyfeArea .diyfeArea .diyfeFont4 p,
.diyw .diyfeArea .diyfeFont4 p,
.diyw .diyfeFont4 p {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 a,
.diyw .diyfeArea .diyfeArea .diyfeFont4 a,
.diyw .diyfeArea .diyfeFont4 a,
.diyw .diyfeFont4 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeFont4 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeFont4 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
body.startpage .diyw .diywebFooter .webnavigation a,
body.startpage .diyw .diywebFooter .diywebNav a {
  color: #474747 !important;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif !important;
  font-size: 14px !important;
}
body.facebookTab .diyw #diyFbBoxPage {
  margin-left: 0 !important;
  width: 100% !important;
  overflow: auto !important;
}
body.facebookTab .diyw #diyFbBoxWin,
body.facebookTab .diyw #diyFbBoxPage,
body.facebookTab .diyw #diyFbBoxBody,
body.facebookTab .diyw .diyweb {
  height: 100% !important;
}
body.facebookTab .diyw .diywebEmotionHeader,
body.facebookTab .diyw .diywebHeader,
body.facebookTab .diyw .diywebFond,
body.facebookTab .diyw .diywebSecondary,
body.facebookTab .diyw .diywebSidebar,
body.facebookTab .diyw .diywebFooter,
body.facebookTab .diyw .diywebContent .diyfeGridGroup:before,
body.facebookTab .diyw .diywebNav {
  display: none;
}
body.facebookTab .diyw .diywebMain {
  width: auto;
  float: none;
  padding-top: 0.1px;
}
body.facebookTab .diyw .diywebLiveArea,
body.facebookTab .diyw .diyweb:before {
  width: auto;
}
body.facebookTab .diyw .diyweb {
  height: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}
body.facebookTab .diyw .diywebContainer {
  width: auto;
  box-sizing: border-box;
}
body.facebookTab .diyw {
  height: 100%;
  box-sizing: border-box;
}
body.facebookTab .diyw #diyFbBoxBody div.sortable-matrix {
  width: auto !important;
}
.diyw .diyApp .app-border {
  border: solid 1px #bababa;
}
.diyw .diyApp .app-rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.diyw .diyApp .app-gradient {
  background: #bababa;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#bababa),color-stop(1,#ededed));
  background: -ms-linear-gradient(bottom,#bababa,#ededed);
  background: -moz-linear-gradient(center bottom,#bababa 0%,#ededed 100%);
  background: -o-linear-gradient(#ededed,#bababa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bababa', GradientType=0);
}
.diyw .diyApp [class^="icon-"],
.diyw .diyApp [class*=" icon-"] {
  color: #757575 !important;
}
.diyw .diyApp [class^="icon-"].active,
.diyw .diyApp [class*=" icon-"].active {
  color: #f28505 !important;
}
.diyw .diyApp .app-navbar-default {
  background: #bababa;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#bababa),color-stop(1,#ededed));
  background: -ms-linear-gradient(bottom,#bababa,#ededed);
  background: -moz-linear-gradient(center bottom,#bababa 0%,#ededed 100%);
  background: -o-linear-gradient(#ededed,#bababa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bababa', GradientType=0);
  border: solid 1px #bababa;
}
.diyw .diyApp .app-navbar-highlight {
  background: #f28505;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#f28505),color-stop(1,#fcb561));
  background: -ms-linear-gradient(bottom,#f28505,#fcb561);
  background: -moz-linear-gradient(center bottom,#f28505 0%,#fcb561 100%);
  background: -o-linear-gradient(#fcb561,#f28505);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcb561', endColorstr='#f28505', GradientType=0);
  border: solid 1px #f28505;
}
.diyw .diyApp .app-navbar select,
.diyw .diyApp .app-navbar input,
.diyw .diyApp .app-navbar button {
  background: #fff;
  color: #757575;
  border: solid 1px #757575;
}
.diyw .diyApp .app-container,
.diyw .diyApp .app-container-background,
.diyw .diyApp .app-container-background-highlight,
.diyw .diyApp .app-container-background-light {
  padding: 10px;
  margin: 10px 0;
}
.diyw .diyApp .app-container-background {
  background: #bababa;
}
.diyw .diyApp .app-container-background-highlight {
  background: #f28505;
}
.diyw .diyApp .app-container-background-light {
  background: #ededed;
}
.diyw .diyApp .app-button-background {
  border: solid 1px #757575;
  color: #ffffff;
  background: #757575;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#757575),color-stop(1,#a8a8a8));
  background: -ms-linear-gradient(bottom,#757575,#a8a8a8);
  background: -moz-linear-gradient(center bottom,#757575 0%,#a8a8a8 100%);
  background: -o-linear-gradient(#a8a8a8,#757575);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8a8a8', endColorstr='#757575', GradientType=0);
}
.diyw .diyApp .app-button-disabled {
  cursor: none !important;
}
.diyw .diyApp .app-button-disabled.app-button-background {
  color: #bababa;
}
.diyw .diyApp .app-button-disabled.app-button-primary {
  color: #fcc585;
}
.diyw .diyApp .app-button-primary {
  border: solid 1px #8e4e03;
  color: #ffffff;
  background: #8e4e03;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#8e4e03),color-stop(1,#f28505));
  background: -ms-linear-gradient(bottom,#8e4e03,#f28505);
  background: -moz-linear-gradient(center bottom,#8e4e03 0%,#f28505 100%);
  background: -o-linear-gradient(#f28505,#8e4e03);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f28505', endColorstr='#8e4e03', GradientType=0);
}
.diyw .diyApp .app-navbar,
.diyw .diyApp .app-header {
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.diyw .diyApp .app-navbar-group,
.diyw .diyApp .app-header-group,
.diyw .diyApp .app-navbar-left {
  float: left;
}
.diyw .diyApp .app-navbar-right,
.diyw .diyApp .app-header-right {
  float: right;
}
.diyw .diyApp .app-navbar-group {
  margin-right: 10px;
  overflow: hidden;
}
.diyw .diyApp .app-navbar-group.app-navbar-right {
  margin-right: 0;
}
.diyw .diyApp .app-header {
  border-bottom: solid 1px;
}
.diyw .diyApp .app-button-group {
  display: table-row;
}
.diyw .diyApp .app-button-group > * {
  display: table-cell;
}
.diyw .diyApp .app-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
}
.diyw .diyApp .app-button-group label,
.diyw .diyApp .app-button {
  margin-bottom: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
}
.diyw .diyApp .app-navbar select,
.diyw .diyApp .app-navbar input,
.diyw .diyApp .app-navbar button {
  padding: 3px;
}
.diyw .diyApp .app-navbar select option {
  padding-left: 10px;
  padding-right: 10px;
}
.diyw .diywebNavMain {
  background-image: linear-gradient(top,#fb9b2a 0%,#c56c04 100%);
  background-image: -o-linear-gradient(top,#fb9b2a 0%,#c56c04 100%);
  background-image: -moz-linear-gradient(top,#fb9b2a 0%,#c56c04 100%);
  background-image: -webkit-linear-gradient(top,#fb9b2a 0%,#c56c04 100%);
  background-image: -ms-linear-gradient(top,#fb9b2a 0%,#c56c04 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fb9b2a),color-stop(1,#c56c04));
  box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset, 0 18px 6px rgba(255,255,255,0.05) inset, 0 18px 3px rgba(255,255,255,0.03) inset, 0 -15px 6px -8px rgba(0,0,0,0.06) inset, 0 -19px 1px -16px rgba(0,0,0,0.08);
}
.diyw .diywebNavMain:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 39px;
  box-shadow: 0 27px 4px -16px rgba(0,0,0,0.08);
}
.diyw .mainNav1 a {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
.diyw .mainNav1 a.current,
.diyw .mainNav1 a.parent {
  background: #fa9f34;
  background-image: linear-gradient(bottom,#fa941b 0%,#c56c04 100%);
  background-image: -o-linear-gradient(bottom,#fa941b 0%,#c56c04 100%);
  background-image: -moz-linear-gradient(bottom,#fa941b 0%,#c56c04 100%);
  background-image: -webkit-linear-gradient(bottom,#fa941b 0%,#c56c04 100%);
  background-image: -ms-linear-gradient(bottom,#fa941b 0%,#c56c04 100%);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#fa941b),color-stop(1,#c56c04));
  color: #fef3e6;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset, 0 -3px 0 rgba(255,255,255,0.08) inset, 0 0 5px rgba(0,0,0,0.1) inset, 0 3px 0 rgba(0,0,0,0.04) inset, 0 1px 0 rgba(0,0,0,0.1) inset;
  border-radius: 3px;
}
.diyw .diywebSidebar h1 {
  font-size: 24px;
  letter-spacing: 0;
}
.diyw .diywebSidebar h2 {
  font-size: 15px;
}
.diyw .diywebContent .diywebNav .diywebGutter {
  padding-top: 2em;
}
.diyw .diywebContent {
  position: relative;
  margin-top: -3px;
  margin-bottom: 2em;
  border-radius: 3px;
}
.diyw .diywebContent:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 189px;
  box-shadow: 0 130px 20px -86px rgba(0,0,0,0.1);
  border-radius: 50%;
}
.diyw .diywebEmotionHeader {
  position: relative;
  overflow: visible;
}
.diyw .diywebEmotionHeader .diywebLiveArea {
  z-index: 1;
}
.diyw .diywebEmotionHeader:before,
.diyw .diywebEmotionHeader:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  height: 600px;
}
.diyw .diywebEmotionHeader:before {
  -webkit-transform: skew(4deg);
  -moz-transform: skew(4deg);
  left: 30px;
  box-shadow: -20px 0 120px rgba(0,0,0,0.15);
}
.diyw .diywebEmotionHeader:after {
  -webkit-transform: skew(-3deg);
  -moz-transform: skew(-3deg);
  right: 20px;
  box-shadow: 30px 0 10px rgba(0,0,0,0.08);
}
.diyw .diywebMain #mainNav2 a {
  color: #8c8c8c;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
}
.diyw .mainNav2 a.current:before {
  content: "» ";
}
@media only screen and (max-width: 568px) {
  .diyw .diywebNavMain .mainNav2 a {
    color: #fddfbb;
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal;
  }
}
